@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  /* Firefox (desktop or Android) 28- */
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  background-color: #f6f3f8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.wrapper-1 {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.05);
}

p {
  margin-bottom: 10px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 16px;
  font-weight: normal;
  color: #523769;
}

h1 {
  text-align: center;
  margin-top: 15px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 32px;
  font-weight: bolder;
  color: #523769;
}

h2 {
  margin-top: 10px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 28px;
  font-weight: bolder;
  color: #523769;
}

h3 {
  margin-top: 10px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 24px;
  font-weight: bold;
  color: #523769;
}

button {
  box-shadow: 1px 2px 2px 2px #ddd1e7;
}

hr {
  margin: 10px 0;
  padding: 0;
  height: 2px;
  border: none;
  background: linear-gradient(to right, transparent 50%, transparent 50%), linear-gradient(to right, #d4afd6, #ac9fcd, #ceafd6);
  background-size: 16px 2px, 100% 2px;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  /* Весь скроллбар */
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  /* Трек скроллбара */
  background: linear-gradient(45deg, rgb(57, 135, 212) 10%, #d1c0de, #f39548 90%);
}

::-webkit-scrollbar-thumb {
  /* Ползунок */
  border-radius: 5px;
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh #d1c0de;
}

::-webkit-scrollbar-thumb:hover {
  /* Цвет бегунка при наведении на него курсора */
  background: #9f7dbb;
}

::-webkit-scrollbar-thumb:active {
  /* Цвет бегунка при нажатии */
  background: #936cb3;
}

::-webkit-scrollbar-button {
  /* Кнопки скроллбара */
  background: url("") no-repeat;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  /* Уголок */
  background: #ab8ec4;
}

::-webkit-resizer {
  /* Изменение размеров */
  background: url("") no-repeat;
  width: 0;
  height: 0;
}

.page-sidebar {
  position: fixed;
  width: 300px;
}
.page-sidebar:not(.active) {
  display: none;
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  background: linear-gradient(to top, rgba(219, 209, 231, 0.9) 0%, #e1d1e7 100%);
  box-shadow: 1px 2px 2px 2px rgba(219, 209, 231, 0.9);
}

.header-cont {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.header-cont .logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header-cont .logo-link img {
  position: relative;
  top: 2px;
  height: 50px;
}
.header-cont .logo-link img:hover {
  animation: rotation infinite linear 1s;
}
.header-cont .logo-link span {
  margin-left: 15px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 32px;
  font-weight: 900;
  transition: all 100ms;
  color: #9f7dbb;
  text-decoration: none;
  text-shadow: 1px 2px 3px #9f7dbb;
}
.header-cont .logo-link span:hover {
  color: #936cb3;
}
.header-cont .logo-link span:active {
  transform: scale(0.99);
  color: #8e66af;
}
.header-cont .navigation {
  display: flex;
}
.header-cont .navigation .h-nav-link {
  margin-left: 15px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 24px;
  font-weight: 900;
  transition: all 100ms;
  color: #b89fcd;
  text-decoration: none;
}
.header-cont .navigation .h-nav-link:hover {
  color: #ab8ec4;
}
.header-cont .navigation .h-nav-link:active {
  transform: scale(0.99);
  color: #a787c1;
}
.header-cont .navigation .h-nav-link.current {
  color: #a484bf;
}

.breadcrumbs {
  padding: 3px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 1px 2px 3px #9f7dbb;
  color: #724c91;
}

@media (max-width: 1000px) {
  .header-cont::after {
    content: "";
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/280px-Hamburger_icon.svg.png");
    background-size: contain;
    width: 50px;
    height: 50px;
    font-family: "Trebuchet MS", "Candara", Calibri, Arial;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px 2px 3px #9f7dbb;
    color: #a484bf;
  }
  .header-cont .navigation {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px 10px 10px;
    background-color: rgba(219, 209, 231, 0.9);
    border-radius: 10px;
    opacity: 0;
    transition: 500ms all;
    transform: translateY(-100%);
  }
  .header-cont:hover .navigation, .header-cont:active .navigation {
    opacity: 1;
    transform: translateY(0);
  }
}
footer {
  background: linear-gradient(to bottom, #c2afd6 0%, #e1d1e7 100%);
  box-shadow: 1px 2px 2px 2px #c2afd6;
}

.footer-cont {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-cont section {
  margin: 15px;
  min-width: 340px;
}

.socials div {
  display: flex;
}
.socials div a {
  display: block;
  margin: 0 5px;
  transition: all 100ms;
}
.socials div a:hover {
  transform: scale(1.1);
}
.socials div a:active {
  transform: scale(0.99);
}

.banner img {
  display: block;
  margin: 3px auto;
}

.slider {
  margin: 3px auto;
}
.slider .slides {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 400px; /* Укажите высоту слайдера */
  overflow: hidden;
}
.slider .slides .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slider .slides .slide.active {
  opacity: 1;
}
.slider .slides .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slides .slide .caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}
.slider .slides .slide .caption h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.slider .slides .slide .caption p {
  font-size: 16px;
  margin: 10px 0 0;
}
.slider .controls {
  padding: 3px 0 10px 0;
  display: flex;
  justify-content: center;
}
.slider .controls button {
  margin: 0 3px;
  padding: 3px 10px;
  font-family: Calibri, Arial;
  font-size: 16px;
  font-weight: normal;
  transition: all 100ms;
  color: #523769;
  text-decoration: none;
  border: 1px solid #c4afd6;
  background-color: #cec0de;
}
.slider .controls button:hover {
  color: #452e58;
}
.slider .controls button:active {
  transform: scale(0.99);
  color: #402a51;
}
.slider .controls button:nth-child(1) {
  border-radius: 10px 0 0 10px;
}
.slider .controls button:nth-child(2) {
  border-radius: 0 10px 10px 0;
}
.slider .controls button:hover {
  background-color: #e9e2f0;
}
.slider .controls button:active {
  background-color: #c4afd6;
}

main {
  background-color: #f3eff7;
}

.features {
  /* max-width: 800px; */
  margin: 0 auto;
  /* background-color: #fff; */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature {
  padding: 10px;
  max-width: 800px;
  margin: 20px auto;
  border: 2px solid #bbF;
  border-radius: 10px;
  display: flex;
  /* margin-bottom: 20px; */
}

.feature img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.feature div {
  flex: 1;
}

.feature div p {
  margin-bottom: 10px;
}

.services .service {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #bbF;
  border-radius: 10px;
}
.services .service:nth-child(odd) {
  text-align: left;
}
.services .service:nth-child(even) {
  text-align: right;
}

form.account {
  max-width: 400px;
  margin: 5px auto;
  padding: 30px 20px;
  background-color: #e9e2f0;
  border: 1px solid #e4d1e7;
  border-radius: 10px;
}
form.account label {
  display: block;
  margin-bottom: 5px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 16px;
  font-weight: bold;
  color: #452e58;
}
form.account input[type=text],
form.account input[type=email],
form.account input[type=date],
form.account input[type=password], form.account textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e4d1e7;
  border-radius: 5px;
  background-color: #fbf9fc;
  font-family: Calibri, Arial;
  font-size: 16px;
  font-weight: normal;
  color: #452e58;
}
form.account button[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 100ms;
  background-color: #4caf50;
  text-decoration: none;
  font-family: Calibri, Arial;
  font-size: 16px;
  font-weight: normal;
  color: white;
}
form.account button[type=submit]:hover {
  background-color: #449d48;
}
form.account button[type=submit]:active {
  transform: scale(0.99);
  background-color: #409351;
}
form.account select {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #e4d1e7;
  border-radius: 5px;
  font-family: Calibri, Arial;
  font-size: 16px;
  font-weight: normal;
  background-color: #fbf9fc;
  color: #452e58;
}
form.account p {
  text-align: center;
}
form.account p a {
  color: #0066cc;
  text-decoration: none;
}
form.account p a:hover {
  text-decoration: underline;
}
form.account span {
  max-width: 40%;
}

table.account.orders {
  text-align: center;
  border-radius: 10px;
  font-family: Calibri, Arial;
  font-size: 16px;
  font-weight: normal;
  color: #452e58;
  width: 100%;
  border-collapse: collapse;
}
table.account.orders tr {
  background-color: #f7f3f8;
}
table.account.orders tr:nth-child(even) {
  background-color: #ece2f0;
}
table.account.orders tr:hover {
  border-radius: 10px;
  background-color: #e9e2f0;
  outline: 1px solid #c09fcd;
}
table.account.orders th {
  padding: 8px;
  background-color: #d6c0de;
  font-weight: bold;
}
table.account.orders th:first-child {
  border-radius: 10px 0 0 0;
}
table.account.orders th:last-child {
  border-radius: 0 10px 0 0;
}
table.account.orders th a {
  text-decoration: underline;
  color: #452e58;
}
table.account.orders td {
  padding: 8px;
}

.new-order form {
  max-width: 600px;
}/*# sourceMappingURL=commonStyles.css.map */