


* {
    border: dotted 1px;
    /* border: solid 1px; */
    /* color:antiquewhite */
    transition: all 300ms;
}
/* *:hover     { border-color: #ff1100; border-style: dotted; } */
/* *:hover     { border-color: #ff1100; border-style: solid; border-radius: 5px; } */
*:hover     { border-style: solid; border-radius: 5px; }
/* *:hover     { border-style: dotted; border-radius: 5px; } */

* *         { border-color: #fbfbb9; }
* * *       { border-color: #5fb99b; }
* * * *     { border-color: #da61da; }
* * * * *   { border-color: #2a90be; }
* * * * * * { border-color: #610044; }

