/* 
* {
    border: dotted 1px;
    transition: all 300ms;
}
*:hover     { border-style: solid; border-radius: 5px; }

* *         { border-color: #fbfbb9; }
* * *       { border-color: #5fb99b; }
* * * *     { border-color: #da61da; }
* * * * *   { border-color: #2a90be; }
* * * * * * { border-color: #610044; } */


*               { outline: 1px dotted #5050df; }
* *             { outline: 1px dotted #028157; }
* * *           { outline: 1px dotted #da61da; }
* * * *         { outline: 1px dotted #2a90be; }
* * * * *       { outline: 1px dotted #610044; }
* * * * * *     { outline: 1px dotted #5050df; }
* * * * * * *   { outline: 1px dotted #028157; }
* * * * * * * * { outline: 1px dotted #da61da; }

*:hover         {
    outline-style: solid; outline-width: 1px;
}