# Игнорирование компилированных файлов и папок
/src/running/

# Исключение системных файлов и директорий
.DS_Store
Thumbs.db

# Игнорирование временных файлов
*.tmp
*.bak

# Игнорирование файлов секретных данных или конфиденциальных файлов
.env
# secrets.txt
# credentials.json

# Игнорирование журналов и файлов отладки
# *.log
# debug.log

# Игнорирование файлов настроек IDE и редакторов кода
# .idea/
# .vscode/

# Игнорирование файлов с резервными копиями
*~
*.swp