//: SLIDER

.banner img {
    display: block;
    margin: 3px auto;
}

.slider {
    margin: 3px auto;
    .slides {
        border-radius: 10px;
        //
        position: relative;
        width: 100%;
        height: 400px; /* Укажите высоту слайдера */
        overflow: hidden;
        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            &.active { opacity: 1; }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .caption {
                position: absolute;
                bottom: 20px;
                left: 20px;
                color: #fff;
                h2 {
                    font-size: 24px;
                    font-weight: bold;
                    margin: 0;
                }
                p {
                    font-size: 16px;
                    margin: 10px 0 0;
                }
            }
        }
    }
    .controls {
        padding: 3px 0 10px 0;
        display: flex;
        justify-content: center;
        button {
            margin: 0 3px;
            padding: 3px 10px;
            @include font($family: $ff-nice-0);
            @include link-skew-interact();
            border: 1px solid color.adjust($base-color, $lightness: -10%);
            &:nth-child(1) { border-radius: 10px 0 0 10px; }
            &:nth-child(2) { border-radius: 0 10px 10px 0; }
            background-color: color.adjust($base-color, $lightness: -5%, $hue: -5deg);
            &:hover  { background-color: color.adjust($base-color, $lightness: 5%); }
            &:active { background-color: color.adjust($base-color, $lightness: -10%); }
        }
    }
}
