//: BUILD-IN
@use "sass:color";

//: FOOTER
footer {
    // background-color: $footer-bg-color;
    background: linear-gradient(to bottom, $footer-bg-color 0%, color.adjust($base-color, $hue: 10deg) 100%);
}
.footer-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    section {
        margin: 15px;
        min-width: 350px;
    }
}
