//: BUILD-IN
@use "sass:color";

//: HEADER
header {
    position: sticky;
    z-index: 1;
    top: 0;
    // background-color: $header-bg-color;
    background: linear-gradient(to top, $header-bg-color 0%, color.adjust($base-color, $hue: 10deg) 100%);
}
.header-cont {
    display: flex;
    height: $header-height;
    align-items: center;
    justify-content: space-between;
    .logo-link {
        display: flex;
        align-items: center;
        img {
            position: relative;
            top: 2px;
            height: $logo-height;
            // transition: all 1500ms;
            &:hover {
                animation: rotation infinite linear 1s;
                // transform: rotate(360deg);
            }
        }
        text-decoration: none;
        span {
            margin-left: 15px;
            @include font($size: 32px, $weight: 900);
            @include link-skew-interact($logo-color);
            @include text-shadow($color: $logo-color);
        }
    }
    .navigation {
        display: flex;
        .h-nav-link {
            margin-left: 15px;
            @include font($size: 24px, $weight: 900);
            @include link-skew-interact($h-nav-color);
            &.current {
                color: $h-nav-color_current;
            }
        }
    }
    // .account {
    //     // 
    // }
}
.breadcrumbs {
    padding: 3px;
    @include font($size: 14px, $weight: 500);
    @include text-shadow($color: $logo-color);
    // color: $h-nav-color_current;
    color: color.adjust($h-nav-color_current, $lightness: -20%);
}