
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-track {
    background: rgba(202, 204, 206, 0.04);
}
::-webkit-scrollbar-thumb {
    background:#474c50;
}
::-webkit-scrollbar-thumb:hover {
    background:rgba(202, 204, 206, 0.3);
}













/* /* root1  */
:root {
    --C_scrollbar_track:    var(--C_c3d_02);
    --C_scrollbar_thumb:    var(--C_almost_black);
    --C_scrollbar_thumb_h:  var(--C_carbon);
    --C_scrollbar_thumb_a:  var(--C_graphite_low);
    --C_scrollbar_corner:   var(--C_almost_black);
}
/* root2
:root {
    --C_scrollbar_track:    var(--C_almost_black);
    --C_scrollbar_thumb:    var(--C_wetasfalt_fl);
    --C_scrollbar_thumb_h:  var(--C_midnightblue_fl);
    --C_scrollbar_thumb_a:  var(--C_violetblue);
    --C_scrollbar_corner:   var(--C_violetblue);
}
*/

::-webkit-scrollbar {
    /* Весь скроллбар */
    width: 3px;
    height: 5px;
}
::-webkit-scrollbar-button {
    /* Кнопки скроллбара */
    background: url('') no-repeat;
    width: 0;
    height: 0;
}
::-webkit-scrollbar-track {
    /* Трек скроллбара */
    background: var(--C_scrollbar_track);
}
::-webkit-scrollbar-thumb {
    /* Ползунок */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: var(--C_scrollbar_thumb);
}
::-webkit-scrollbar-thumb:hover {
    /* Цвет бегунка при наведении на него курсора */
    background: var(--C_scrollbar_thumb_h);
}
::-webkit-scrollbar-thumb:active {
    /* Цвет бегунка при нажатии */
    background: var(--C_scrollbar_thumb_a);
}
::-webkit-scrollbar-corner {
    /* Уголок */
    background: var(--C_scrollbar_corner);
}
::-webkit-resizer {
    /* Изменение размеров */
    background: url('') no-repeat;
    width: 0;
    height: 0;
}