//: ACCOUNT
form.account {
    max-width: 400px;
    margin: 5px auto;
    padding: 20px;
    // background-color: #f2f2f2;
    background-color: $acc-form-bg-color;
    border: 1px solid $acc-form-input-border-color;
    border-radius: 5px;
    label {
        display: block;
        margin-bottom: 5px;
        // font-weight: bold;
        @include font($weight: bold);
        color: $acc-form-label-color;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid $acc-form-input-border-color;
        border-radius: 5px;
        background-color: $acc-form-input-bg-color;
    }
    button[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        @include btn-skew-interact($bg-color: $acc-form-btn-bg-color);
        @include font($family: $ff-nice-0);
        color: $acc-form-btn-text-color;
    }
    p {
        text-align: center;
        a {
            color: #0066cc;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}