@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  /* Firefox (desktop or Android) 28- */
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #cdddff;
}

.wrapper-1 {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.page-sidebar {
  position: fixed;
  width: 300px;
}
.page-sidebar:not(.active) {
  display: none;
}

header {
  position: sticky;
  top: 0;
  background-color: rgba(154, 194, 255, 0.9);
}

.header-cont {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.header-cont .logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header-cont .logo-link img {
  position: relative;
  top: 2px;
  height: 50px;
}
.header-cont .logo-link img:hover {
  animation: rotation infinite linear 1s;
}
.header-cont .logo-link span {
  margin-left: 15px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 32px;
  font-weight: 900;
  transition: all 100ms;
  color: #4e86ff;
  text-decoration: none;
  text-shadow: 1px 2px 3px #4e86ff;
}
.header-cont .logo-link span:hover {
  color: #3474ff;
}
.header-cont .logo-link span:active {
  transform: scale(0.99);
  color: #2a6dff;
}
.header-cont .navigation {
  display: flex;
}
.header-cont .navigation .h-nav-link {
  margin-left: 15px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 24px;
  font-weight: 900;
  transition: all 100ms;
  color: #4e86ff;
  text-decoration: none;
}
.header-cont .navigation .h-nav-link:hover {
  color: #3474ff;
}
.header-cont .navigation .h-nav-link:active {
  transform: scale(0.99);
  color: #2a6dff;
}
.header-cont .navigation .h-nav-link.current {
  color: #256aff;
}

main {
  background-color: #c8d9ff;
}

footer {
  background-color: #679fff;
}

.footer-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-cont section {
  margin: 15px;
  min-width: 350px;
}

form.account {
  max-width: 400px;
  margin: 5px auto;
  padding: 20px;
  background-color: #b4cbff;
  border-radius: 5px;
}
form.account label {
  display: block;
  margin-bottom: 5px;
  font-family: "Trebuchet MS", "Candara", Calibri, Arial;
  font-size: 16px;
  font-weight: bold;
  color: #002167;
}
form.account input[type=text],
form.account input[type=email],
form.account input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #9c9aff;
  border-radius: 5px;
  background-color: #d7e4ff;
}
form.account button[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 100ms;
  background-color: #4caf50;
  text-decoration: none;
  font-family: Calibri, Arial;
  font-size: 16px;
  font-weight: normal;
  color: #e7f2ff;
}
form.account button[type=submit]:hover {
  background-color: #449d48;
}
form.account button[type=submit]:active {
  transform: scale(0.99);
  background-color: #409351;
}
form.account p {
  text-align: center;
}
form.account p a {
  color: #0066cc;
  text-decoration: none;
}
form.account p a:hover {
  text-decoration: underline;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=commonStyles.css.map */